.footer-container {
    display: flex;
    justify-content: flex-end;
    grid-area: footer;
    background-color: transparent;
    gap: 10px;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  
    .icono-whatsapp,
    .icono-instagram,
    .icono-linkedin {
      width: 30px;
      margin-right: 10px;
    }
  }