@mixin container-index {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "navegacion main-item1 main-item1 publicidad"
      "navegacion main-item2 main-item3 publicidad"
      "navegacion main-item4 main-item5 publicidad"
      "navegacion main-item6 main-item6 publicidad"
      "navegacion final-introduccion final-introduccion aside"
      "video-index video-index video-index video-index"
      "section-1 section-2 section-3 section-3"
      "footer footer footer footer";
    gap: 5px;
    grid-gap: 5px;
  }
  
  .container-index {
    @include container-index;
  }
  
  @media screen and (min-width: 769px) {
    .container-index {
      grid-template-columns: 1fr 2fr 1fr 1fr;
    }
  }

  @media screen and (max-width: 560px) {
    .container-index {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header header"
        "navegacion main-item1"
        "navegacion main-item2"
        "navegacion main-item3"
        "navegacion main-item4"
        "navegacion main-item5"
        "navegacion main-item6"
        "navegacion final-introduccion"
        "video-index video-index"
        "section-1 section-2"
        "footer footer";
    }
  
    .titulo h1 {
      white-space: normal;
      overflow-wrap: break-word;
      word-wrap: break-word;
      font-size: 22px;
    }
  
    .contenido {
      margin-top: 40px;
    }
  
    .container-index aside,
    .section-3-imagen {
      display: none;
    }
  }
  
  @mixin container-type($type) {
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-gap: 5px;
    font-size: 24px;
  
    @if $type == "presion" {
      grid-template-columns: 1fr 2fr 2fr 1fr;
      grid-template-areas:
        "header header header header"
        "navegacion main-item1 main-item2 publicidad"
        "navegacion main-item3 main-item3 publicidad"
        "section-1 section-2 section-3 section-3"
        "footer footer footer footer";
    } @else if $type == "temperatura" {
      grid-template-columns: 1fr 2fr 2fr 1fr;
      grid-template-areas:
        "header header header header"
        "navegacion main-item1 main-item2 publicidad"
        "navegacion main-item1 main-item2 publicidad"
        "navegacion main-item4 main-item3 publicidad"
        "navegacion main-item4 main-item3 publicidad"
        "section-1 section-2 section-3 section-3"
        "footer footer footer footer";
    } @else if $type == "nivel" {
      grid-template-columns: 1fr 2fr 2fr 1fr;
      grid-template-areas:
        "header header header header"
        "navegacion main-item1 main-item3 publicidad"
        "navegacion main-item1 main-item3 publicidad"
        "navegacion main-item2 main-item3 publicidad"
        "navegacion main-item2 main-item3 publicidad"
        "section-1 section-2 section-3 section-3"
        "footer footer footer footer";
    } @else if $type == "caudal" {
      grid-template-columns: 1fr 2fr 2fr 1fr;
      grid-template-areas:
        "header header header header"
        "navegacion main-item1 main-item1 publicidad"
        "navegacion main-item2 main-item3 publicidad"
        "navegacion main-item4 main-item4 publicidad"
        "section-1 section-2 section-3 section-3"
        "footer footer footer footer";
    } @else if $type == "valvula" {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header header"
        "navegacion main-item1"
        "section-1 section-2"
        "footer footer";
    }
  }
  
  .container-presion {
    @include container-type("presion");
  }
  
  .container-temperatura {
    @include container-type("temperatura");
  }
  
  .container-nivel {
    @include container-type("nivel");
  }
  
  .container-caudal {
    @include container-type("caudal");
  }
  
  .container-valvula {
    @include container-type("valvula");
  }
  
  @media screen and (min-width: 760px) {
    .container-presion,
    .container-temperatura,
    .container-nivel,
    .container-caudal,
    .container-valvula {
      grid-template-columns: 1fr 2fr 2fr 1fr;
    }
  }
  
  @media screen and (max-width: 660px) {
    .section-3-imagen,
    .publicidad {
      display: none;
    }
  
    .titulo h1 {
      white-space: normal;
      overflow-wrap: break-word;
      word-wrap: break-word;
      font-size: 16px;
    }
  
    .contenido {
      margin-top: 40px;
    }
  
    .container-presion,
    .container-temperatura,
    .container-nivel,
    .container-caudal,
    .container-valvula {
      grid-template-columns: 1fr 1fr;
      font-size: auto;
    }
  
    .container-presion,
    .container-nivel {
      grid-template-areas:
        "header header"
        "navegacion main-item1"
        "navegacion main-item2"
        "navegacion main-item3"
        "section-1 section-2"
        "footer footer";
    }
  
    .container-temperatura,
    .container-caudal {
      grid-template-areas:
        "header header"
        "navegacion main-item1"
        "navegacion main-item2"
        "navegacion main-item3"
        "navegacion main-item4"
        "section-1 section-2"
        "footer footer";
    }
  
    .container-valvula {
      grid-template-areas:
        "header header"
        "navegacion main-item1"
        "section-1 section-2"
        "footer footer";
    }
  }